.mensagem-box {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    text-align: center;
  }

  .mensagem-texto {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .fechar {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  